## Project 2 Master Loan

### Learning Outcomes: Exploratory Data Analysis -  Preparing the data to train a model - Training and making predictions using a classification model ï‚· Model evaluation 
 
Objective: The classification goal is to predict the likelihood of a liability customer buying personal loans. 
 
Steps and tasks:

##  1. Import the datasets and libraries, check datatype, statistical summary, shape, null values or incorrect imputation. (5 marks):

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from scipy.stats import skew, norm, probplot, boxcox, f_oneway

In [21]:
loan  = pd.read_csv('Bank_Personal_Loan_Modelling.csv')
loan.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

## 1.a check datatype

In [23]:
loan.dtypes

ID                      int64
Age                     int64
Experience              int64
Income                  int64
ZIP Code                int64
Family                  int64
CCAvg                 float64
Education               int64
Mortgage                int64
Personal Loan           int64
Securities Account      int64
CD Account              int64
Online                  int64
CreditCard              int64
dtype: object

## 1.b statistical summary

In [30]:
loan.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

###  1.C shape, null values or incorrect imputation

In [33]:
loan.shape

(5000, 14)

In [34]:
loan.isna().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

#### 2. EDA: Study the data distribution in each attribute and target variable, share your findings (20 marks) 
2.a Number of unique in each column? 
2.b Number of people with zero mortgage? 
2.c Number of people with zero credit card spending per month? 
2.d Value counts of all categorical columns. 
2.e Univariate and Bivariate 
2.f Get data model ready

In [39]:
def unique_values(df): 
    for col in df.columns:
        unique_count=df[col].nunique()
        print('Total Unique Value : ' + str(unique_count)+ ' in Column : '+str(col))

In [42]:
unique_values(loan)

Total Unique Value : 5000 in Column : ID
Total Unique Value : 45 in Column : Age
Total Unique Value : 47 in Column : Experience
Total Unique Value : 162 in Column : Income
Total Unique Value : 467 in Column : ZIP Code
Total Unique Value : 4 in Column : Family
Total Unique Value : 108 in Column : CCAvg
Total Unique Value : 3 in Column : Education
Total Unique Value : 347 in Column : Mortgage
Total Unique Value : 2 in Column : Personal Loan
Total Unique Value : 2 in Column : Securities Account
Total Unique Value : 2 in Column : CD Account
Total Unique Value : 2 in Column : Online
Total Unique Value : 2 in Column : CreditCard

In [6]:
## 3.Split the data into training and test set in the ratio of 70:30 respectively (5 marks)

In [7]:
## 4. Use Logistic Regression model to predict the number of a customers buying personal loans. Print all the metrics related for evaluating the model performance (15 marks)

In [ ]:
## 5. Give your reasoning on how can the model perform better? (10 marks) Hint: Check parameter

In [ ]:
## 6. Give Business understanding of your model? (5 marks)